.Goto {
    display: none;

    cursor: pointer;

    @media screen and (max-width: $breakpoint-mobile) {
        display: block;

        position: absolute;
        top: 50%;
        right: 0;

        transform: translateY(-50%);
    }
}