.TextInput {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);

  transition: all 0.05s ease-out;

  border: none;

  padding: 5px;
  background: #F5F5F5; 

  &:focus {
    outline: none;
  }
}